
html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

:root {
	background: hsl(0, 0%, 96%);
	font-family: Helvetica;
}

node-component {
	padding: 20px;
	background: white;
	box-shadow: 1px 1px 5px gray;
	border-radius: 1px;
}
